<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="padding:20px 25px; background-color:#ededed;">
  <center style="background-color: white; padding-bottom: 50px; padding-left:30px; padding-right:30px;">
    <table style="border:none !important;">
      <tr>
        <td><img src="https://img.icons8.com/bubbles/48/000000/duolingo-logo.png"/></td>
        <td>
          <span style="     font-family: cursive;
            text-decoration: none;
            font-weight: 700;
            color: #229f03!important;
            position: absolute;
            top: 35px;">Flask App</span>
        </td>
      </tr>
    </table>
    
  <h2 style="color: black;
  font-weight: 500;
  letter-spacing: 3px;
  font-family: system-ui;">Password Reset</h2>  
  <h4 style="color:black">If you lost your password and wish to reset use this verification code below..</h4>
  <button style="
  background-color: #4aa34a;
  color: white;
  font-weight: 300;
  font-size: 24px;
  font-family: ui-rounded;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  letter-spacing: 3px;">{{otp1}}&nbsp;-&nbsp;{{otp2}}</button>
  <p style="color:black; margin-top:20px;" >If you didn't request a password reset,you can safely ignore the email.<br> Only a person with access to your email can access your account.</p>

  </center>
</body>
</html>